@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');
@import "tokens";
@import "navbar";

.edu-au-vic-wa-nt-hand-title {
  color: $primary;
  font-family: "Edu AU VIC WA NT Hand", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.headerContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--background-color);
  box-shadow: 0 2px 4px var(--shadow-color);
  z-index: 1000;
  .logo{
    max-width: 6rem;
    max-height: 4rem;
  }
}

.lang-button {
  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    outline: 2px solid #0056b3; // Optional: Adds focus outline for accessibility
  }
}

.lang-icon {
  height: 2rem;
  width: 2rem;
}
